<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbCon" connectionString="Data Source=PGISERVER1\PGISQL2019ENT;Initial Catalog=Order;uid=rackscanner;pwd=rackscanner!;Connect Timeout=5000;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!---->
    <add key="EmailUserName" value="pgi-office@precisionglassindustries.com" />
    <add key="EmailUserPwd" value="PGI-20201207" />
    <add key="EmailFrom" value="sales@precisionglassindustries.com" />


    
    <add key="NotificationEmail" value="npatel@precisionglassindustries.com"/>
    <add key="OCNotificationHoursToWait" value="2"/>
    
<!--TestEnvironment Paths-->
<!--   <add key="OCFileDollar" value="D:\Users\npatel\Documents\EmailMSG"/>
    <add key="OCFileDim" value="\\pgiserver1\Forvet\PDF"/>
    <add key="EmailMSGLocation" value="D:\Users\npatel\Documents\EmailMSG"/>
    <add key="ArchiveEmailMSG" value="D:\Users\npatel\Documents\EmailMSG\Archive"/>
    <add key="LogFile" value="D:\Users\npatel\Documents\EmailMSG\Log"/>  
    <add key ="EmailMSGTeplate" value="D:\Users\npatel\Documents\source\repos\Auto_OC_Email_Core\Auto_OC_Email_Core\EmailMSGTemplate"/>
    <add key="ErrorMSG" value="D:\Users\npatel\Documents\EmailMSG\ErrorProcessingEmailMSG"/>
  -->
     
    <!--Production paths-->
     
    <add key="OCFileDollar" value="\\pgiserver1\Optima-Share\Confirmations\CustomerEmails"/>
    <add key="OCFileDim" value="\\pgiserver1\Forvet\PDF"/>
    <add key="EmailMSGLocation" value="\\pgiserver1\Optima-Share\Confirmations\CustomerEmails"/>
    <add key="ArchiveEmailMSG" value="\\pgiserver1\Optima-Share\Confirmations\ProcessedConfirmations"/>
    <add key="LogFile" value="\\pgiserver1\Optima-Share\Confirmations\Log"/>
    <add key="ErrorMSG" value="\\pgiserver1\Optima-Share\Confirmations\ErrorProcessingEmailMSG"/>
    <add key ="EmailMSGTeplate" value="\\pgiserver1\Development\Projects\AutoOCEmail\EmailMSGTemplate"/>
  
</appSettings>

</configuration>