<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="dbCon" connectionString="Data Source=PGISERVER1\PGISQL2019ENT;Initial Catalog=Order;uid=rackscanner;pwd=rackscanner!;Connect Timeout=5000;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>-->
    <add name="dbCon" connectionString="Data Source=PGISQLSERVER\PGISQL22;Initial Catalog=Order;uid=rackscanner;pwd=rackscanner!;Connect Timeout=5000;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!---->
    <add key="EmailUserName" value="pgi-office@precisionglassindustries.com" />
    <add key="EmailUserPwd" value="PGI-20220223" />
    <add key="EmailFrom" value="sales@precisionglassindustries.com" />
    <add key="EmailDoNotSendList" value="Orders@precisionglassindustries.com"/>


    <add key="ErrorEmail" value="npatel@precisionglassindustries.com"/>
    <!--,ecarrillo@precisionglassindustries.com,chernandez@precisionglassindustries.com"/>-->

  
<!--TestEnvironment Paths-->
   
<!--    
    <add key="PDFPurgeHoursToWait" value="48"/>
    <add key="NotificationEmail" value="npatel@precisionglassindustries.com"/>
    <add key="OCNotificationHoursToWait" value="12"/>

    <add key="OCFileDollar" value="D:\OneDrive - Precision Glass Insustries\Documents\EmailMSG"/>
    <add key="OCFileDim" value="D:\OneDrive - Precision Glass Insustries\Documents\EmailMSG"/>
    <add key="EmailMSGLocation" value="D:\OneDrive - Precision Glass Insustries\Documents\EmailMSG"/>
    <add key="ArchiveEmailMSG" value="D:\OneDrive - Precision Glass Insustries\Documents\EmailMSG\Archive"/>
    <add key="LogFile" value="D:\OneDrive - Precision Glass Insustries\Documents\EmailMSG\Log"/>  
    <add key ="EmailMSGTeplate" value="D:\OneDrive - Precision Glass Insustries\Documents\source\repos\Auto_OC_Email_Core\Auto_OC_Email_Core\EmailMSGTemplate"/>
    <add key="ErrorMSG" value="D:\OneDrive - Precision Glass Insustries\Documents\EmailMSG\ErrorProcessingEmailMSG"/>
   --> 
     
    <!--Production paths-->
 
    
    <add key="PDFPurgeHoursToWait" value="48"/>
    <add key="NotificationEmail" value="sales@precisionglassindustries.com"/>
    <add key="OCNotificationHoursToWait" value="12"/>
    <add key="OCFileDollar" value="\\pgiserver1\Optima-Share\Confirmations\CustomerEmails"/>
    <add key="OCFileDim" value="\\pgiserver1\Forvet\PDF"/>
    <add key="EmailMSGLocation" value="\\pgiserver1\Optima-Share\Confirmations\CustomerEmails"/>
    <add key="ArchiveEmailMSG" value="\\pgiserver1\Optima-Share\Confirmations\ProcessedConfirmations"/>
    <add key="LogFile" value="\\pgiserver1\Optima-Share\Confirmations\Log"/>
    <add key="ErrorMSG" value="\\pgiserver1\Optima-Share\Confirmations\ErrorProcessingEmailMSG"/>
    <add key ="EmailMSGTeplate" value="\\pgiserver1\Development\Projects\AutoOCEmail\EmailMSGTemplate"/>

</appSettings>

</configuration>